h2 {
    font-size: 18px;
}

.center-content {
    display: flex;
    justify-items: center;
}

.align-items-center {
    align-items: center;
}
.align-content-center {
    align-content: center;
}

.justify-items-center {
    justify-items: center;
}

.justify-items-end {
    justify-items: end;
}

.justify-content-center {
    justify-content: center;
}

.flex {
    display: flex;
}

.float-left {
    float: left;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.fixed-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0
}

.w100 {
    width: 100%
}

.underline {
    text-decoration: underline;
    text-underline-offset: 10px;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.mt200 {
    margin-top: 200px;
}

.mt100 {
    margin-top: 100px;
}

.mt80 {
    margin-top: 80px;
}

.mt70 {
    margin-top: 70px;
}

.pointer {
    cursor: pointer;
}

.text-decoration-none {
    text-decoration: none;
}

.white-space-pre {
    white-space: pre;
}

.bold {
    font-weight: bold;

}

.p0 {

    padding: 0;
}

.gap-20 {
    gap: 20px;
}

.link {
    color: inherit;
}

.link--star::after {
    content: "*";
}

.py5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.flex-wrap-wrap {
    flex-wrap: wrap
}

.link--underline {
    padding-bottom: 2px;
    border-bottom: 1px solid;
}

.pt50 {
    padding-top: 50px;
}

.pb20 {
    padding-bottom: 20px;
}

.ml20 {
    margin-left: 20px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt5 {
    margin-top: 5px;
}

.flex-gap-10 {
    gap: 20px;

}

.align-items-end {
    align-items: end;
}

.flex-direction-column {
    flex-direction: column;
}

.gap-5 {
    gap: 5px;
}
